$white:      #EEEEEE;
$grey:       #E3E3E3;
$dark-grey:  #A3A3A3;
$red:        #C02F1D;
$orange:     #F26D21;
$yellow:     #EBC944;
$green:      #5CA794;
$light-blue: #1496BB;
$blue:       #1178DD;
$indigo:     #0D3D56;
$pale-green: #CFF3CF;
$pale-blue:  #23C2FF;
