.strikes {
  &.admin {
    padding-top: 30px;
    padding-bottom: 30px;

    .strike {
      border: 1px solid black;
      display: inline;
      padding: 15px;
      font-size: 15px;
      border-radius: 4px;
      margin-right: 5px;

      &.strike-on {
        background: red;
      }

      &.strike-off {
        background: lightgrey;
      }

      &.strike-link {
        &:hover {
          background: lightcoral;
        }
      }
    }
  }
}
