/* This file is for your main application css. */

.no-margin {
  margin: 0;
}

.strike {
  border: 1px solid black;
  width: 25px;
  display: inline;
  padding: 10px;
  border-radius: 4px;
  margin-right: 5px;

  &.strike-on {
    background: red;
  }

  &.strike-off {
    background: lightgrey;
  }

  &.strike-link {
    &:hover {
      background: lightcoral;
    }
  }
}

.answer {
  &.answer-used {
    color: grey;
  }
}

.btn-spacious {
  margin-left: 5px;
}
