/* This file is for your main application css. */

@import 'colors';

@import 'header';
@import 'fast_money';
@import 'strikes';
@import 'answers';

.grey-body {
  background: $grey;
}

.no-margin {
  margin: 0;
}

.left-padded {
  margin-left: 5px;
}

.public-page {
  background: $grey;
  min-width: 800px;
  max-width: 1200px;
  margin: 0 auto;
}

.hint {
  font-style: italic;
  color: $dark-grey;
}
